<form class="" action="/user/comt_edit_sub" method="POST">
  <input type="hidden" name="idComt" value="{{comt.idComt}}">
  <label for="posting">Posting </label>
    <textarea class="form-control" name="text" rows="8" cols="40">{{comt.text}}</textarea>
    <br>
  <button class="btn btn-primary">Save</button>
</form>
