<form class="" action="/user/post_edit_sub" method="POST">
  <input type="hidden" name="idPost" value="{{post.idPost}}">
  <label for="posting">Title </label>
    <input class="form-control" name="title" rows="8" cols="40" value="{{post.title}}"></input>
    <br>
  <label for="posting">Posting </label>
    <textarea class="form-control" name="text" rows="8" cols="40">{{post.text}}</textarea>
    <br>
  <button class="btn btn-primary">Save</button>
</form>
