<form class="" action="/user/post_sub" method="POST">
  <label for="posting">Title </label>
    <input class="form-control" name="title" rows="8" cols="40" placeholder="subject"></input>
    <br>
  <label for="posting">Posting </label>
    <textarea class="form-control" name="text" rows="8" cols="40" placeholder="write here"></textarea>
    <br>
  <button class="btn btn-primary">Save</button>
</form>
