<h5>Choice your option:</h5>
<br>

<div class="">
  <h6>New?</h6>
  <a href="register_form">
    <button class="btn btn-primary btn-lg btn-block">Register</button>
  </a>
</div>
<div class="form-group align-content-center">
  <br>
  <br>
  <h6>Comeback?</h6>
  <a href="log_form">
    <button class="btn btn-primary btn-lg btn-block">Login</button>
  </a>
</div>
