<form class="" action="/visitor/log_sub" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="posting">Username </label>
        <input class="form-control" type="text" name="username" value="" placeholder="Mary Doe">
        <br>
    </div>
    <div class="form-group col-md-6">
      <label for="posting">Password </label>
        <input  class="form-control" type="password" name="password" value="" autocomplete="off">
        <br>
    </div>
  </div>
  <div class="">
  <a href="#">
    <button class="btn btn-primary">Login</button>
  </a>
</form>
  <a href="/visitor/home">
    <button class="btn btn-primary">Back</button>
  </a>
  </div>
